/* font-family: 'Yantramanav', sans-serif; */

.bg {
  background-color: #3E4869;
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 728px;
}
.Education__container {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 64px;

}
.Education__certification {
    width: 194px;
    font-size: 32px;
    color: #FF895D;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    padding-top: 64px;
}
.Education__school {
    font-size: 24px;
    font-family: 'Yantramanav', sans-serif;
}
.Education__type {
    font-size: 24px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
}
.container {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 48px;
}
.creds {
    width: 288px;
}
.dates {
    display: none;
    font-size: 24px;
    font-family: 'Yantramanav', sans-serif;
}


@media only screen and (min-width: 1088px) {
    .Education__container {
        width: 1088px;
        margin-bottom: 64px;
    }
    .Education__left__container {
        display: flex;
        flex-direction: column;

    }
    .container {
        display: flex;
        flex-direction: row;
    }
    .dates {
        display: block;
        min-width: 343px;
    }
    .creds {
    width: auto;

}
.bg {
    height:  573px;
}
}
@media only screen and (min-width: 789px) and (max-width: 1088) {
    .dates {
        display: block;
    }
}
@media only screen and (min-width: 678px)   and (max-width: 788px){

    .container {
        display: flex;
        flex-direction: row;
    }
    .dates {
        display: none;
    }
}





