*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.header-wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #1a98f800;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 80%;
    margin: 0 auto;
}

.header__logo {
    color: white;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-style: none;
    background-color: #273e5000;
}
.header__ul_menu {
    background-color: rgb(9, 9, 34);
    width: 80%;
    position: absolute;
    z-index: 2;
    margin-top: 160px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.header__ul_menu li a {
   height: 48px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.header__ul_menu li a{
   text-align: center;
   color: white;
}
.header__ul {
    display: none;
    list-style-type: none;
    color: white;
}
.header__ul li:nth-child(n+2) {
    padding-left: 24px;
}


.close {
    display: none;
}

@media only screen and (min-width: 1088px) {
    .header-wrapper {
    width: 1088px;
    padding: 0px;
}
    .header-container {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .header__menu {
        display: none;

    }
    .header__ul {
        display: flex;
    }
    .header__ul_menu {
        display: none;
    }

}

@media only screen and (min-width: 678px)    and (max-width: 1087px){

    .header-container{
        width: 80%;
        padding: 0 44px;
    }
    .header__ul {
        display: flex;
    }
    .header__menu {
        display: none;
    }
     .header__ul_menu {
        display: none;
    }
}